
/*------------------css global------------------*/
/*Tableau d'affichage des données stockées en bdd*/
.tableauadminconsultationbdd{
  h3{
    font-size: 1em;
  }
  background-color: rgb(187, 187, 187);
  font-size: 1em;
}

/*Marge haute des boutons de connexion et réservation */ 
.connexionemailmargintop{
  margin-top: 4%;
}
.emailreservation-input{
  margin-top: 4%;
  margin-left: 0.5%;
}
/*bouton qui imite le style dishbutton */
.dishbutonlike{
  background-color: rgb(182, 172, 151);
  border-radius: 8px;
  border: 1px solid black;
}
/*Boutons divers:*/
.connexionemailmargintop{
  margin-top: 4%;
}

.dishbuton{
margin-top: 1%;
}

.affichage-donnees{
margin-top: 2%;
}

.lignereservationaccueil{

  text-align: center;
}


/* Partie principale du corps de la page: */
.bodystyle{
    height: 100vh;
    width: 100vw;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    pointer-events: auto;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;}
 
    .reservationstablestyle{
      border-collapse: collapse;
      width: 90%;
      margin: 0 auto;

      th, td{
        border: 1px solid black;
        padding:  8px;  
      }

      th{
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: left;
      }
    }

    /*bouton d\'actualisation du tableau des réservation*/
    .div-refresh-button-reservation{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%; 
    }
    .refresh-button-reservation{
      width: 40%;     
    }

    .titlecarte-style{
      margin-top: 4rem;
    }

/*Dernier forumulaire page tableau de bord*/
.formulairespressionadmin{
  margin-bottom: 10%;
}
/*Margin top des titres h2 du tableau de bord*/
.titleh2-admin-form,
.titleh3-admin-form {
  margin-top: 8%;
}

/*Icone menu mode portrait*/
.headerstyle{
  .btn-transparent:hover {
  background-color: transparent;
  border-color: transparent;
  color: black; /* ou spécifiez la couleur de texte souhaitée */
}
.btn-transparent {
  background-color: transparent; /* Fond transparent par défaut */
  border-color: transparent;
}
.btn-transparent i {
  color: black;
}
/* suppression de la flèche */
.dropdown-toggle-noarrow::after {
  display: none;
}
}

















 /* styles spécifiques pour les écrans  en mode paysage */
@media screen and (orientation: landscape) and (min-width : 1279px){

      .blocdesimages2 {
        display: none;
      }

  .main{
    margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 50%;
  margin-bottom: 1%;
  }

 /* En tête: */
 .dropdown {
  display: none;
}
.headerstyle {
  background-color: rgba(144, 100, 39, 1);
  width: 100%;
  padding-top: 1%;
  margin-bottom: 5%;
  height:6%;
  margin: 0;
  bottom: 0%;
 
}

.titrestyle {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.titrestyle h1 {
  font-size: 6vw;
  margin-right: 1%;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.headerlink a{
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 2.5vh;
}

.headerlink span {
  margin-left: 1%;
}

.aproposestyle {
  white-space: nowrap;

}
.pageadministrateurestyle {
  white-space: nowrap;

}
  

/*Page Connexion Inscription : */


  /*boutons page connexion : */
  .connexionbutton{
    background-color: rgb(182, 172, 151);
    border-radius: 8px;
    border: 1px solid black;


  }

  .connexionvalidatebutton{
    margin-top: 3rem;
    background-color: rgb(182, 172, 151);
    border-radius: 8px;
    border: 1px solid black;

  }



/* Ici le css de la galerie d'accueil:*/

.myimage-container {
  max-width: 100%;
}
.myimage {

  height: auto;
  max-width: 90%
  
}
.galerieaccueil {
  display: inline-block;
  position: relative;
  width: 100%;
 
}
/* Description de l'image au survole */ 
.myimage-container {
  position: relative;
  display: inline-block;
  padding: 2%;
 justify-content: center;
}

.mytooltip {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgba(123, 123, 123, 0.679);
  z-index: 2;
}

.myimage-container:hover .mytooltip {
  display: block;
}

/*bouton réservation*/

.button-container{
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

  .button-reservation-style {
    background-color: rgb(182, 172, 151);
    border-radius: 1%;
    border: 1px solid black; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 1.4vw; 
    cursor: pointer; 
    border-radius: 8px; 
    width: 20%;
    height: 6vh;
    font-weight: 500;
  }

  /* Page carte:*/

  .btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: black;
    
  i {
    font-size: 2rem;
  }
  }
  
  .h1cartestyle{
    font-size: 60px;
    color:rgb(0, 0, 0);
    margin-top: 3%; 
  }

.h2cartestyle{
  font-size: 18px;
  color:rgba(144, 100, 39, 1);
  margin-top: 6%; 
 
}
.h3cartestyle{
  font-size: 16px;
  color:rgb(0, 0, 0);
  margin-top: 2%; 
 text-decoration: underline;
}


  .btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
    color: white;
  }
  
  .btn-transparent i {
    color: black;
  }
/* suppression de la flèche */
  .dropdown-toggle-noarrow::after {
    display: none;
}
/* horaires pied de page:*/


.titleschedule{
  font-weight: 900;  
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 1.1%;
  line-height: 30%;
}

.footerstyle {
  font-size: 0.8vw;
  padding-top: 1%;
  width: 100%;
  justify-content: center;

  text-align: center;
  background-color:rgba(144, 100, 39, 1);
  font-weight: 700;
  min-height: 40vh;
  line-height: 40%;


}

.footerstyle > .footerchildrenstyle {
  justify-content: center;
  text-align: center;
}

/*Alignement images en mode desktop : */

.galerieaccueil {
  display: flex;
}


/*page a propos*/
.blocapropos{
font-size: 16px;
}

.apropotextestyleh1{
margin-top: 5%;
margin-bottom: 4%;
text-align: center;
}
.apropotextestyle{
margin-top: 5%; 
text-align: justify;
}


.mentionslegaletitlesstyle{
margin-top: 5%;
text-align: center;
}

.mentionslegalesstyle{
text-align: center;
}
.politiquedeconfidentialitestyle{
margin-top: 5%;
text-align: justify;
}

.mentionslegalescookiesstyle{
margin-top: 5%;
word-wrap: pre-wrap;
margin-bottom: 3%;
text-align: justify;
}



/* formulaire tableau de bord:*/

.tableaudebordstyle{
margin-top: 3%;
text-align: center;
}
.titleh2-admin-form{
font-weight: 3rem;
margin-top: 4rem;
text-align: center;
}
.titleh3-admin-form{
font-weight: 2rem;
margin-top: 1rem;
}




.footer-form-style{
margin-bottom: 4%;
}



/*horaires */


.form-admin-style-schedules{
background-color: rgb(182, 172, 151);
border-radius: 8px;
border: 0.5px solid black;

}




/* tableau images:*/


.my-table {
border-collapse: collapse;
width: 100%;

th, td {
  padding: 10px;
  text-align: left;

}

th {
  text-transform: uppercase;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  &:nth-child(2) {
    width: 30%;
  }
  &:nth-child(3) {
    width: 50%;
  }
}

td {
  font-size: 14px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
}

th:first-child, td:first-child {
padding-left: 0;
}

th:last-child, td:last-child {
padding-right: 0;
}



/* bloc disponibilité  page reservation:*/

.disponibiltéstyle{
margin-top: 2rem;
margin-bottom: 6rem;

}

/*couleur boutons*/
/*
button{
background-color: rgb(182, 172, 151);
border-radius: 8px;
border: 1px solid black;
}
*/
button{
  background-color: rgb(182, 172, 151);
  border-radius: 8px;
  border: 1px solid black;
  }


  }














/* ----------------format mobile:-------------------*/
@media only screen and (max-width: 480px)and (orientation : portrait) {

  /*Bloc corps principale*/
  .main{
    margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 67%;
  margin-bottom: 1%;
  overflow-x: hidden;
  }
  .blocdesimages{
    display: none;
      }


  .myimage-container {
    display: block;
    height: auto; /* Supprimer la hauteur */
    overflow: hidden;
    text-align: center
  }
  
  .myimage {
    max-width: 50%; /* Changer la largeur maximale */
    height: auto;
    object-fit: contain; /* Changer l'ajustement de l'image */
    margin: 2% auto;


  }
/*Description image si touchée */
.myimage-container {
  position: relative;
  display: inline-block;
  padding: 2%;
 justify-content: center;
}

.mytooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(123, 123, 123, 0.679);
  z-index: 2;
  opacity: 0; /* Rend la description transparente par défaut */
  transition: opacity 0.3s ease; /* Ajoute une transition fluide */
}

.myimage-container:hover .mytooltip {
  opacity: 1; /* Rend la description opaque lorsque l'utilisateur survole l'image */
}
.button-reservation-style {
  background-color: rgb(182, 172, 151);
  border-radius: 1%;
  border: 1px solid black; 
  color: rgb(0, 0, 0); 
  //padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  margin-top: 1%; 
  margin-bottom: 2%;
  font-size: 4.8vw; 
  cursor: pointer; 
  border-radius: 8px; 
  width: 40%;
  height: 5.9vh;
  font-weight: 500;
}

  
/*page a propos*/
.blocapropos{
  font-size: 18px;
}

.apropotextestyleh1{
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 4%;
  text-align: center;
}
.apropotextestyle{
  margin-top: 5%; 
  text-align: justify;
}


.mentionslegaletitlesstyle{
  font-size: 22px;
  margin-top: 5%;
  text-align: center;
}

.mentionslegalesstyle{
  text-align: center;
}
.politiquedeconfidentialitestyle{
  margin-top: 5%;
  text-align: justify;
}

.mentionslegalescookiesstyle{
  margin-top: 5%;
  word-wrap: pre-wrap;
  margin-bottom: 3%;
  text-align: justify;
}

/*header en mode mobile portrait */

.headerstyle {
  background-color: rgba(144, 100, 39, 1);
  width: 100%;
  padding-top: 1%;
  margin-bottom: 5%;
  height:6%;
  margin: 0;
  bottom: 0%;
  //overflow: hidden;
  
}

  .headerlink a {
      display: none;
    }
    .titrestyle h1 {
      font-size: 10vw;
      margin: 0;
      white-space: nowrap;
      padding: 0;
    }
    .fluide-icon.bi-list {
      color: rgb(0, 0, 0);
      font-size: 8vw;
    }
  
.bodystyle{
  height: 100vh;
  width: 100vw;
  background-color:white;
  font-family: 'Montserrat', sans-serif;
  pointer-events: auto;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 18px;
  }

/* bloc connexion:*/


/*Titre de la page carte: */
.h1cartestyle{
  margin-top: 4%;
  font-size: 3rem;
}

  /*Tableau de bord*/
  .table-container{
    overflow-x: auto;
  }
  .reservationstablestyle {
    font-size: 12px;
    width: auto; /* Utilisez 'auto' pour permettre au tableau de s'adapter à la largeur du contenu */
    font-weight: bold;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow-x: scroll; /* Permet le défilement horizontal si nécessaire */
  }
  
  .reservationstablestyle td, 
  .reservationstablestyle th {
    width: 20px; /* Définissez la largeur des colonnes sur 20px */
    padding: 1px;
    font-weight: bold;
  }
  
  .reservationstablestyle thead th {
  }
  .div-refresh-button-reservation{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
  }
  .refresh-button-reservation{
    width: 40%;
  }
  .titlecarte-style{
    margin-top: 4rem;
  }

  .affichage-donnees{
    margin-top: 3%;
  }

    .form-admin-style {
        .label-admin-style{
          margin-top: 1rem;
          margin-bottom: 1rem;
        }       
      }     
      button{
        background-color: rgb(182, 172, 151);
        border-radius: 8px;
        border: 1px solid black;
        }

/*Pied de page*/
.footerstyle {
  padding-top: 1%;
  padding-bottom: 3%;
  width: 100%;
  justify-content: center;
  font-size: 2.8vw;
  text-align: center;
  background-color:rgba(144, 100, 39, 1);
  font-weight: 700;
}

.footerstyle > .footerchildrenstyle {
  justify-content: center;
  text-align: center;
}
.titleschedule{
  font-size: 5.6vw;
  font-weight: 900;  
  margin-bottom: 4%;
}


/*Page reservation*/


  .reservationstyle {
    font-size: 18px;
    
  }
  .rowDate{
    margin-top: 1%;
    padding: 0;
    label{
      margin-right: 1%;
    }
    input{
      border: 1px solid black;
    }
  }
  
  .rowHeure{
    margin-top: 1%;
    padding: 0;
    label{
      margin-right: 1%;
    }
    select{
      border: 1px solid black;
    }
  }
  
.rowemail{
margin-top: 3%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

.rowConvives{
margin-top: 1%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

.rowAllergies{
margin-top: 1%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

}




/*-------mobile paysage-----*/
@media screen and (orientation: landscape) and (max-width : 763px) {
  
  /* Corps principale*/
  .main{
    margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 50%;
  margin-bottom: 1%;
  overflow-x: hidden;
  }

.bodystyle{
    height: 100vh;
    width: 100vw;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    pointer-events: auto;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
  }


 /* En tête: */
 .dropdown {
  display: none;
}
/*
.text-end{
  display: none;
}*/
.headerstyle {
  background-color: rgba(144, 100, 39, 1);
  width: 100%;
  padding-top: 1%;
  margin-bottom: 5%;
  height:6%;
  margin: 0;
  bottom: 0%;
  overflow-x: scroll;
}
.blocdescrollhorizontal{
  overflow-x: auto;
}

.titrestyle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.titrestyle h1 {
  font-size: 6vw;
  margin-right: 1%;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.headerlink a{
  font-size: 2vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 2.5vh;
}

.headerlink span {
  margin-left: 1%;
}

.aproposestyle {
  white-space: nowrap;

}
.pageadministrateurestyle {
  white-space: nowrap;

}



/* Ici le css de la galerie d'accueil:*/
.blocdesimages{
  display: none;
}

.blocdesimages2 {
  overflow: hidden; /* Ajout d'une propriété overflow pour contenir les flottants */
}

.myimage-container {
  width: 30%; /* Utilisation d'une largeur en pourcentage pour aligner les 3 images sur une même ligne */
  float: left;
  position: relative;
  margin: 0.8%;
  margin-left: 2%;
}

.myimage {
  height: auto;
  max-width: 100%;
}

.mytooltip {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgba(123, 123, 123, 0.679);
  z-index: 2;
}

.myimage-container:hover .mytooltip {
  display: block;
}


/*bouton de reservation*/
.button-container{
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button-reservation-style {
  background-color: rgb(182, 172, 151);
  border-radius: 1%;
  border: 1px solid black; 
  color: rgb(0, 0, 0); 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 1.8vw; 
  cursor: pointer; 
  border-radius: 8px; 
  width: 30%;
  height: 7.5vh;
  font-weight: 500;
}

  .h1cartestyle{
    margin-top: 4%;
    font-size: 3rem;
  }

/*Page reservation*/
.reservationstyle {
  padding-left: 2%;

  .rowDate{
    margin-top: 1%;
    padding: 0;
    label{
      margin-right: 1%;
    }
    input{
      border: 1px solid black;
    }
  }
  
  .rowHeure{
    margin-top: 1%;
    padding: 0;
    label{
      margin-right: 1%;
    }
    select{
      border: 1px solid black;
    }
  }

.rowemail{
margin-top: 3%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

.rowConvives{
margin-top: 1%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

.rowAllergies{
margin-top: 1%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}
}

  /*Tableau de bord*/
  .table-container{
    overflow-x: auto;
  }
  .reservationstablestyle {
    font-size: 12px;
    width: auto; /* Utilisez 'auto' pour permettre au tableau de s'adapter à la largeur du contenu */
    font-weight: bold;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow-x: scroll; /* Permet le défilement horizontal si nécessaire */
  }
  
  .reservationstablestyle td, 
  .reservationstablestyle th {
    width: 20px; /* Définissez la largeur des colonnes sur 20px */
    padding: 1px;
    font-weight: bold;
  }
  
  .reservationstablestyle thead th {
  }
  .div-refresh-button-reservation{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
  }
  .refresh-button-reservation{
    width: 40%;
  }
  .titlecarte-style{
    margin-top: 4rem;
  }

  .affichage-donnees{
    margin-top: 3%;
  }

    .form-admin-style {
        .label-admin-style{
          margin-top: 1rem;
          margin-bottom: 1rem;
        }       
      }     
      button{
        background-color: rgb(182, 172, 151);
        border-radius: 8px;
        border: 1px solid black;
        }

/* Pied de page*/
.footerstyle {
  padding-top: 1%;
  width: 100%;
  justify-content: center;
  font-size: 1.4vw;
  text-align: center;
  background-color:rgba(144, 100, 39, 1);
  font-weight: 700;
  overflow: hidden;
  /*box-sizing: border-box;*/

}

.footerstyle > .footerchildrenstyle {
  justify-content: center;
  text-align: center;
}
.titleschedule{
  font-weight: 900;  
  padding-top: 1%;
  padding-bottom: 2%;
  margin-bottom: 1.1%;
  line-height: 30%;
}

}



















/*-------tablette orientation portrait-----*/

@media only screen and (min-width: 480px) and (max-width: 768px) and (orientation : portrait) {
  .bodystyle{
    height: 100vh;
    width: 100vw;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    pointer-events: auto;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 18px;
    

  /*Bloc corps principale*/
  .main{
    margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 67%;
  margin-bottom: 1%;
  overflow-x: hidden;

  }
 

  .blocdesimages{
display: none;
  }
  .blocdesimages2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .myimage-container {
    display: block;
    width: 50%;
    margin: 2% auto;
  }
  
  .myimage {
    max-width: 100%; /* Rétablir la largeur maximale */
    height: auto;
    object-fit: contain;
  }
  
  .myimage-container {
    position: relative;
    display: inline-block;
    padding: 2%;
   justify-content: center;
  }
  
  .mytooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(123, 123, 123, 0.679);
    z-index: 2;
    opacity: 0; /* Rend la description transparente par défaut */
    transition: opacity 0.3s ease; /* Ajoute une transition fluide */
  }
  
  .myimage-container:hover .mytooltip {
    opacity: 1; /* Rend la description opaque lorsque l'utilisateur survole l'image */
  }
  .button-reservation-style {
    background-color: rgb(182, 172, 151);
    border-radius: 1%;
    border: 1px solid black; 
    color: rgb(0, 0, 0); 
    //padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    margin-top: 1%; 
    margin-bottom: 2%;
    font-size: 4vw; 
    cursor: pointer; 
    border-radius: 8px; 
    width: 40%;
    height: 5.9vh;
    font-weight: 500;
  }
  


  
/*header*/

.headerstyle {
  background-color: rgba(144, 100, 39, 1);
  width: 100%;
  padding-top: 1%;
  margin-bottom: 5%;
  height:6%;
  margin: 0;
  bottom: 0%;
  //overflow: hidden;
  
}

  .headerlink a {
      display: none;
    }
    .titrestyle h1 {
      font-size: 10vw;
      margin: 0;
      white-space: nowrap;
      padding: 0;
    }

    .fluide-icon.bi-list {
      color: rgb(0, 0, 0);
      font-size: 8vw;
    }
    
.dropdown-menu{
  font-size: 4.2vw;
}

/*page a propos*/
.blocapropos{
  font-size: 18px;
}

.apropotextestyleh1{
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 4%;
  text-align: center;
}
.apropotextestyle{
  margin-top: 5%; 
  text-align: justify;
}


.mentionslegaletitlesstyle{
  font-size: 22px;
  margin-top: 5%;
  text-align: center;
}

.mentionslegalesstyle{
  text-align: center;
}
.politiquedeconfidentialitestyle{
  margin-top: 5%;
  text-align: justify;
}

.mentionslegalescookiesstyle{
  margin-top: 5%;
  word-wrap: pre-wrap;
  margin-bottom: 3%;
  text-align: justify;
}
  
/* bloc connexion:*/
/*Titre page carte*/
.h1cartestyle{
  margin-top: 4%;
  font-size: 3rem;
}




  /*Tableau de bord*/

  .table-container{
    overflow-x: auto;
  }
  .reservationstablestyle {
    font-size: 12px;
    width: auto; /* Utilisez 'auto' pour permettre au tableau de s'adapter à la largeur du contenu */
    font-weight: bold;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow-x: scroll; /* Permet le défilement horizontal si nécessaire */
  }
  
  .reservationstablestyle td, 
  .reservationstablestyle th {
    width: 20px; /* Définissez la largeur des colonnes sur 20px */
    padding: 1px;
    font-weight: bold;
  }
  
  .reservationstablestyle thead th {
  }
  .div-refresh-button-reservation{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
  }
  .refresh-button-reservation{
    width: 40%;
  }
  .titlecarte-style{
    margin-top: 4rem;
  }

  .affichage-donnees{
    margin-top: 3%;
  }

    .form-admin-style {
        .label-admin-style{
          margin-top: 1rem;
          margin-bottom: 1rem;
        }       
      }     
    .input-admin-style{
      border: 1px solid black;
    }
    button{
      background-color: rgb(182, 172, 151);
      border-radius: 8px;
      border: 1px solid black;
      }

/* Pied de page */
      .footerstyle {
        padding-top: 1%;
        padding-bottom: 3%;
        width: 100%;
        justify-content: center;
        font-size: 2.9vw;
        text-align: center;
        background-color:rgba(144, 100, 39, 1);
        font-weight: 700;
      }
      
      .footerstyle > .footerchildrenstyle {
        justify-content: center;
        text-align: center;
      }
      .titleschedule{
        font-size: 6.6vw;
        font-weight: 900;  
        margin-bottom: 3.6%;     
      }

/*Page reservation*/
.reservationstyle {
    //font-size: 24px;
    padding-left: 2%;

    .rowDate{
      margin-top: 1%;
      padding: 0;
      label{
        margin-right: 1%;
      }
      input{
        border: 1px solid black;
      }
    }
    
    .rowHeure{
      margin-top: 1%;
      padding: 0;
      label{
        margin-right: 1%;
      }
      select{
        border: 1px solid black;
      }
    }

.rowemail{
  margin-top: 3%;
  padding: 0;
  label{
    margin-right: 1%;
  }
  input{
    border: 1px solid black;
  }
}

.rowConvives{
  margin-top: 1%;
  padding: 0;
  label{
    margin-right: 1%;
  }
  input{
    border: 1px solid black;
  }
}

.rowAllergies{
  margin-top: 1%;
  padding: 0;
  label{
    margin-right: 1%;
  }
  input{
    border: 1px solid black;
  }
}

}

}
}


/*-------tablette orientation paysage-----*/
@media screen and (min-width: 767px)and (max-width: 1279px)   {
  
  /* Corps principale*/
  .main{
    margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 50%;
  margin-bottom: 1%;
  overflow-x: hidden;
  }

.bodystyle{
    height: 100vh;
    width: 100vw;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    pointer-events: auto;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
  }


 /* En tête: */
 .dropdown {
  display: none;
}
.text-end{
  display: none;
}
.headerstyle {
  background-color: rgba(144, 100, 39, 1);
  width: 100%;
  padding-top: 1%;
  margin-bottom: 5%;
  height:6%;
  margin: 0;
  bottom: 0%;
  overflow-x: scroll;
}
.blocdescrollhorizontal{
  overflow-x: auto;
}

.titrestyle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.titrestyle h1 {
  font-size: 6vw;
  margin-right: 1%;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.headerlink a{
  font-size: 2vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 2.5vh;
}

.headerlink span {
  margin-left: 1%;
}

.aproposestyle {
  white-space: nowrap;

}
.pageadministrateurestyle {
  white-space: nowrap;

}



/* Ici le css de la galerie d'accueil:*/

.blocdesimages2 {
  display: none;
}

.myimage-container {
  width: 90%; /* Utilisation d'une largeur en pourcentage pour aligner les 3 images sur une même ligne */
  float: left;
  position: relative;
  justify-content: center;
  margin-left: 9%;
}

.myimage {
  height: auto;
  max-width: 90%;
}

.mytooltip {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgba(123, 123, 123, 0.679);
  z-index: 2;
}

.myimage-container:hover .mytooltip {
  display: block;
}

/*Titre page carte*/
.h1cartestyle{
  margin-top: 4%;
  font-size: 3rem;
}
/*bouton de reservation*/
.button-container{
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button-reservation-style {
  background-color: rgb(182, 172, 151);
  border-radius: 1%;
  border: 1px solid black; 
  color: rgb(0, 0, 0); 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 1.4vw; 
  cursor: pointer; 
  border-radius: 8px; 
  width: 20%;
  height: 6vh;
  font-weight: 500;
}
/*Page reservation*/
.reservationstyle {
  //font-size: 24px;
  padding-left: 2%;

  .rowDate{
    margin-top: 1%;
    padding: 0;
    label{
      margin-right: 1%;
    }
    input{
      border: 1px solid black;
    }
  }
  
  .rowHeure{
    margin-top: 1%;
    padding: 0;
    label{
      margin-right: 1%;
    }
    select{
      border: 1px solid black;
    }
  }

.rowemail{
margin-top: 3%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

.rowConvives{
margin-top: 1%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}

.rowAllergies{
margin-top: 1%;
padding: 0;
label{
  margin-right: 1%;
}
input{
  border: 1px solid black;
}
}
}

  /*Tableau de bord*/
  .table-container{
    overflow-x: auto;
  }
  .reservationstablestyle {
    font-size: 12px;
    width: auto; /* Utilisez 'auto' pour permettre au tableau de s'adapter à la largeur du contenu */
    font-weight: bold;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow-x: scroll; /* Permet le défilement horizontal si nécessaire */
  }
  
  .reservationstablestyle td, 
  .reservationstablestyle th {
    width: 20px; /* Définissez la largeur des colonnes sur 20px */
    padding: 1px;
    font-weight: bold;
  }
  
  .reservationstablestyle thead th {
  }
  .div-refresh-button-reservation{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
  }
  .refresh-button-reservation{
    width: 40%;
  }
  .titlecarte-style{
    margin-top: 4rem;
  }

  .affichage-donnees{
    margin-top: 3%;
  }

    .form-admin-style {
        .label-admin-style{
          margin-top: 1rem;
          margin-bottom: 1rem;
        }       
      }     
      button{
        background-color: rgb(182, 172, 151);
        border-radius: 8px;
        border: 1px solid black;
        }


/* Pied de page*/
.footerstyle {
  padding-top: 1%;
  width: 100%;
  justify-content: center;
  font-size: 1.4vw;
  text-align: center;
  background-color:rgba(144, 100, 39, 1);
  font-weight: 700;
  overflow: hidden;
  /*box-sizing: border-box;*/

}

.footerstyle > .footerchildrenstyle {
  justify-content: center;
  text-align: center;
}
.titleschedule{
  font-weight: 900;  
  padding-top: 0.5%;
  padding-bottom: 2%;
  margin-bottom: 1.1%;
  line-height: 30%;
  padding-top: 1%;
}

}























/*------desktop orientation portrait-----*/

@media only screen and (min-width: 768px) and (orientation : portrait) {

  .bodystyle{
    height: 100vh;
    width: 100vw;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    pointer-events: auto;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 18px;
    

  /*Bloc corps principale*/
  .main{
    margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 67%;
  margin-bottom: 1%;
  overflow-x: hidden;

  }
 

 
  .blocdesimages2 {
    display: none;/*
    display: flex;
    flex-direction: column;
    align-items: center;*/
  }
  
  .myimage-container {
    margin-top: 55%;
    display: block;
    width: 100%;
    margin-left: 1%;
    //margin-right: 1%;
    margin-bottom: 2%;
    padding: 2%;
    justify-content: center;
    //background-color: blue;
    
    
  }

  .myimage {
    max-width: 100%; /* Rétablir la largeur maximale */
    height: auto;
    object-fit: contain;
   
  }
  
 
/* Description de l'image au survole */ 
.myimage-container {
  position: relative;
  display: inline-block;
  padding: 2%;
 justify-content: center;
}

.mytooltip {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgba(123, 123, 123, 0.679);
  z-index: 2;
}

.myimage-container:hover .mytooltip {
  display: block;
}
.button-reservation-style {
  background-color: rgb(182, 172, 151);
  border-radius: 1%;
  border: 1px solid black; 
  color: rgb(0, 0, 0); 
  //padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  margin-top: 1%; 
  margin-bottom: 2%;
  font-size: 3vw; 
  cursor: pointer; 
  border-radius: 8px; 
  width: 25%;
  height: 5.9vh;
  font-weight: 500;
}




/*header*/

.headerstyle {
  background-color: rgba(144, 100, 39, 1);
  width: 100%;
  padding-top: 1%;
  margin-bottom: 5%;
  height:6%;
  margin: 0;
  bottom: 0%;
  //overflow-y: hidden;
  
} 
.headerlink a {
      display: none;
    }

 
    .titrestyle h1 {
      font-size: 8vw;
      margin: 0;
      white-space: nowrap;
      padding: 0;

    }

.dropdown{
  display: contents;
}
.dropdown-menu{
  font-size: 2.6vw;
}
    .fluide-icon.bi-list {
      color: rgb(0, 0, 0);
      font-size: 5vw;
    }
    


/*page a propos*/
.blocapropos{
  font-size: 18px;
}

.apropotextestyleh1{
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 4%;
  text-align: center;
}
.apropotextestyle{
  margin-top: 5%; 
  text-align: justify;
}


.mentionslegaletitlesstyle{
  font-size: 22px;
  margin-top: 5%;
  text-align: center;
}

.mentionslegalesstyle{
  text-align: center;
}
.politiquedeconfidentialitestyle{
  margin-top: 5%;
  text-align: justify;
}

.mentionslegalescookiesstyle{
  margin-top: 5%;
  word-wrap: pre-wrap;
  margin-bottom: 3%;
  text-align: justify;
}
  
/* bloc connexion:*/
/*Titre page carte*/
.h1cartestyle{
  margin-top: 4%;
  font-size: 3rem;
}


  /*Tableau de bord*/

  .table-container{
    overflow-x: auto;
  }
  .reservationstablestyle {
    font-size: 12px;
    width: auto; /* Utilisez 'auto' pour permettre au tableau de s'adapter à la largeur du contenu */
    font-weight: bold;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow-x: scroll; /* Permet le défilement horizontal si nécessaire */
  }
  
  .reservationstablestyle td, 
  .reservationstablestyle th {
    width: 20px; /* Définissez la largeur des colonnes sur 20px */
    padding: 1px;
    font-weight: bold;
  }
  
  .reservationstablestyle thead th {
  }
  .div-refresh-button-reservation{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
  }
  .refresh-button-reservation{
    width: 40%;
  }
  .titlecarte-style{
    margin-top: 4rem;
  }

  .affichage-donnees{
    margin-top: 3%;
  }

    .form-admin-style {
        .label-admin-style{
          margin-top: 1rem;
          margin-bottom: 1rem;
        }       
      }     
    .input-admin-style{
      border: 1px solid black;
    }
    button{
      background-color: rgb(182, 172, 151);
      border-radius: 8px;
      border: 1px solid black;
      }

/* Pied de page */
      .footerstyle {
        padding-top: 2%;
        padding-bottom: 3%;
        width: 100%;
        justify-content: center;
        font-size: 2vw;
        text-align: center;
        background-color:rgba(144, 100, 39, 1);
        font-weight: 700;
      }
      
      .footerstyle > .footerchildrenstyle {
        justify-content: center;
        text-align: center;
      }
      .titleschedule{
        margin-top: 1%;
        font-size: 6.6vw;
        font-weight: 900;  
        margin-bottom: 3.6%;
      }

/*Page reservation*/
.reservationstyle {
    //font-size: 24px;
    padding-left: 2%;

    .rowDate{
      margin-top: 1%;
      padding: 0;
      label{
        margin-right: 1%;
      }
      input{
        border: 1px solid black;
      }
    }
    
    .rowHeure{
      margin-top: 1%;
      padding: 0;
      label{
        margin-right: 1%;
      }
      select{
        border: 1px solid black;
      }
    }

.rowemail{
  margin-top: 3%;
  padding: 0;
  label{
    margin-right: 1%;
  }
  input{
    border: 1px solid black;
  }
}

.rowConvives{
  margin-top: 1%;
  padding: 0;
  label{
    margin-right: 1%;
  }
  input{
    border: 1px solid black;
  }
}

.rowAllergies{
  margin-top: 1%;
  padding: 0;
  label{
    margin-right: 1%;
  }
  input{
    border: 1px solid black;
  }
}

}

}
  
}

















